* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.buttons {
    width: 460px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttons button {
    width: 145px;
    height: 46px;
    background-color: #f4f4f4;
    border: 1px solid  rgb(41, 41, 41);
    cursor: pointer;
    font-size: 15px;
    transition-duration: 0.5s;
    outline: none;

}

.title p:first-child {
    margin-bottom: 20px;
    color: rgb(41, 41, 41);
    font-size: 24px;
    font-weight: 500;
}

.map_products {
    padding: 0 300px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.product {
    width: 245px;
    height: 426px;

}

.image_box {
    width: 243px;
    height: 325px;
    background-color: #f7f7f7;
    position: relative;
    overflow: hidden;

}

.cart_button {
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 30px;
    bottom: -50px;
    background-color: white;
    z-index: 3;
    transition-duration: 0.5s;
    margin-left: 20px;
}

.icons {
    width: 20px;
    display: flex;
    /* justify-content: space-between; */
}

.image_hover,
.image {
    width: 240px;
    height: 320px;
}

.image_hover {
    position: relative;
}

.image_hover .image {
    position: absolute;
    transition-duration: 0.5s;

}

.image_hover .image:first-child {
    opacity: 0;
    z-index: 2;
}

.product:hover .image:first-child {
    opacity: 1;
}

.product_name {
    margin-top: 5px;
}

.star img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.product:hover .cart_button {
    left: 30px;
    bottom: 20px;
}

.caption {
    font-size: 14px;
    color: #B3B3B3;
    margin-bottom: 5px;
}


.product_name p:last-of-type {
    font-size: 17px;
    font-weight: 500;
    color: rgb(41, 41, 41);
}

.left_btn,
.right_btn {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    z-index: 5;
    cursor: pointer;
    transition-duration: 0.5s;
    opacity: 0;

}

.left_btn {
    top: 130px;
    left: 60px;
}

.right_btn {
    top: 130px;
    right: 60px;
}

.map_products:hover .right_btn {
    opacity: 1;
}

.map_products:hover .left_btn {
    opacity: 1;
}

.buttons button:hover {
    background-color: rgb(44, 175, 78);
    border: none;
    color: #ffffff;
}

.girls_img img {
    width: 100%;

}
.girls_img span{
    width: 100%;
    overflow: hidden;

}



.girls_img {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.large_text p {
    font-size: 32px;
    font-weight: 600;
    color: rgb(41, 41, 41);
}

.lil_text p {
    color: rgb(41, 41, 41);
}

.text button {
    width: 250px;
    height: 50px;
    border-color: rgb(41, 41, 41);
    color: rgb(41, 41, 41);
    font-size: 20px;
    cursor: pointer;
    background-color: #ffffff;
    transition-duration: 0.5s;
}

.text button:hover {
    background-color: rgb(41, 41, 41) ;
    color: #ffffff;
}

.lil_text {
    margin: 20px 0;
}


.left_btn,
.right_btn i{
    font-size: 21px;
    color: rgb(41, 41, 41);
}